#mansion-backdrop {
    flex: auto;
    justify-content: center;
    width: 60vw;
    max-height: 72vh;
    max-width: 72vh;
    aspect-ratio: 1/1;
    background-image: url('../mansion.jpg');
    margin: 0;
    padding: 0;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}

.mansion-canvas {
    width: 60vw;
    cursor: pointer;
    max-height: 72vh;
    max-width: 72vh;
    aspect-ratio: 1/1; 
}