.mansion-backdrop {
    flex: auto;
    justify-content: center;
    width: 50vw;
    max-height: 80vh;
    max-width: 80vh;
    aspect-ratio: 1/1;
    background-image: url('../mansion.jpg');
    margin: 0;
    padding: 0;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}

.mansion-canvas {
    width: 50vw;
    max-height: 80vh;
    max-width: 80vh;
    aspect-ratio: 1/1; 
}

.needs-padding {
    padding: 2px;
}